/**************************mobil**********************/

@media (max-width: 768px) {
  body {
    background-color: #d9ccad;
    max-width: 2000px;
    padding: 10px;
  }

  ::backdrop {
    opacity: 1;
    background: #0008;
  }

  [popover] {
    opacity: 0;

    transition: 0.5s allow-discrete;
  }

  [popover]:popover-open {
    opacity: 1;
    rotate: none;
  }

  @starting-style {
    [popover]:popover-open {
      opacity: 0;
    }
  }

  [popover] {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background: #d9ccad;
    border-radius: 12px;
    max-height: 80vh;
  }

  .petro {
    width: 60%;
    max-width: 300px;
    display: block;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 180px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  }
  #facts {
    background-color: #b49f83;
    width: 40%;
  }
  p {
    font-family: "Oswald", system-ui;
    font-size: 20px;
    margin: 10px;
    gap: 10px;
  }

  h1 {
    font-family: "Oswald", system-ui;
    font-size: 56px;
    margin: 10px;
    gap: 40px;
  }

  h2 {
    font-family: "Oswald", system-ui;
    font-size: 25px;
    margin: 10px;
    gap: 25px;
  }
  h3 {
    font-family: "Oswald", system-ui;
    font-size: 20px;
  }
  a {
    color: #c2b280;
    font-family: "Oswald", system-ui;
  }
  a:hover {
    color: black;
  }

  .grid-3-2,
  .grid-2-1 {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    border: none;
    padding: 0;
  }

  .grid-1-1 {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: auto;
    border: #c2b280;
  }

  .fadeIN {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .image-container {
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-bottom: 10px;
  }

  .image-container img {
    object-fit: cover;
    transition: transform 0.5s ease;
    display: block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .image-container:hover .overlay {
    opacity: 1;
  }

  #flex {
    display: flex;
    order: 1;
  }

  button {
    background-color: #684a30;
    margin-bottom: auto;
    font-family: "Oswald", system-ui;
    border: solid black;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
  }
  img {
    background-color: #d9ccad;
    border: 4px solid black;
  }

  ul {
    display: flex;
    background-color: #f5deb8;
    font-size: 30px;
    padding: 5px;
    font-family: "Oswald", system-ui;
    align-items: center;
    gap: 270px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
  }
}

/**************************browser**********************/
@media (min-width: 840px) {
  body {
    background-color: #d9ccad;
    max-width: 2000px;
    padding: 10px;
  }

  ::backdrop {
    opacity: 1;
    background: #0008;
  }

  [popover] {
    opacity: 0;

    transition: 0.5s allow-discrete;
  }

  [popover]:popover-open {
    opacity: 1;
    rotate: none;
  }

  @starting-style {
    [popover]:popover-open {
      opacity: 0;
    }
  }

  [popover] {
    max-width: 600px;
    margin: 0 auto;
    padding: 10px;
    background: #d9ccad;
    border-radius: 12px;
    max-height: 80vh;
  }

  .petro {
    width: 60%;
    max-width: 500px;
    display: block;
    border-radius: 10px;
    margin-right: 30px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
  }
  #facts {
    background-color: #b49f83;
    width: 40%;
  }
  p {
    font-family: "Oswald", system-ui;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 10px;
  }

  h1 {
    font-family: "Oswald", system-ui;
    font-size: 32px;
    margin-bottom: 10px;
  }

  h2 {
    font-family: "Oswald", system-ui;
    font-size: 20px;
    margin-bottom: 8px;
  }
  h3 {
    font-family: "Oswald", system-ui;
    font-size: 18px;
  }
  a {
    color: #c2b280;
    font-family: "Oswald", system-ui;
  }
  a:hover {
    color: black;
  }

  .grid-3-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    background-color: #b49f83;
    border: 5px solid #684a30;
    padding: 10px;
  }
  .grid-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .grid-2-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 40px;
    background-color: #b49f83;
    border: 5px solid #684a30;
  }

  .logo img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: auto;
    border: #c2b280;
  }

  .menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    background-color: #f5deb8;
    font-size: 30px;

    font-family: "Oswald", system-ui;
    align-items: center;
    gap: 270px;
  }

  .fadeIN {
    opacity: 0;
    animation: fadeIn 1s ease-in forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .image-container {
    position: relative;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.25);
    overflow: hidden;
    margin-bottom: 10px;
    cursor: pointer;
  }

  .image-container img {
    object-fit: cover;
    transition: transform 0.5s ease;
    display: block;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .image-container:hover .overlay {
    opacity: 1;
  }

  #flex {
    display: flex;
    order: 1;
  }

  button {
    background-color: #684a30;
    margin-bottom: auto;
    font-family: "Oswald", system-ui;
    border: solid black;
    text-decoration: underline;
    font-size: 15px;
    cursor: pointer;
  }
  img {
    background-color: #d9ccad;
    border: 4px solid black;
  }

  * {
    margin: 1px;
    padding: 2px;
    box-sizing: content-box;
    text-decoration: none;
    list-style: none;
  }
}
